#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on post-fs
    # Audio
    chmod 0666 /mnt/vendor/persist/factory/audio/aw_cali.bin

    # Goodix
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp

    mkdir /mnt/vendor/persist/fpdata 0775 system system
    chmod 0666 /mnt/vendor/persist/fpdata/BMatrix.so
    chmod 0666 /mnt/vendor/persist/fpdata/caliParamsInfo.so
    chmod 0666 /mnt/vendor/persist/fpdata/cali_data.so
    chmod 0666 /mnt/vendor/persist/fpdata/chartbase.so
    restorecon_recursive /mnt/vendor/persist/fpdata

    chmod 0666 /sys/devices/platform/soc/soc:fpc1020/clk_enable
    chmod 0666 /sys/devices/platform/soc/soc:fpc1020/compatible_all
    chmod 0666 /sys/devices/platform/soc/soc:fpc1020/device_prepare
    chmod 0666 /sys/devices/platform/soc/soc:fpc1020/driver_override
    chmod 0666 /sys/devices/platform/soc/soc:fpc1020/handle_wakelock
    chmod 0666 /sys/devices/platform/soc/soc:fpc1020/hw_reset
    chmod 0666 /sys/devices/platform/soc/soc:fpc1020/irq
    chmod 0666 /sys/devices/platform/soc/soc:fpc1020/modalias
    chmod 0666 /sys/devices/platform/soc/soc:fpc1020/offlock_enable
    chmod 0666 /sys/devices/platform/soc/soc:fpc1020/pinctl_set
    chmod 0666 /sys/devices/platform/soc/soc:fpc1020/regulator_enable
    chmod 0666 /sys/devices/platform/soc/soc:fpc1020/uevent
    chmod 0666 /sys/devices/platform/soc/soc:fpc1020/wakeup_enable

    # Thermal
    chmod 0666 /sys/class/hwmon/hwmon0/fan_level
    chmod 0666 /sys/class/hwmon/hwmon0/fan0_duty
    chmod 0666 /sys/class/hwmon/hwmon0/fan0_enable
    chmod 0666 /sys/class/hwmon/hwmon0/fan0_fg
    chmod 0666 /sys/class/hwmon/hwmon0/fan0_level1
    chmod 0666 /sys/class/hwmon/hwmon0/fan0_level2
    chmod 0666 /sys/class/hwmon/hwmon0/fan0_level3
    chmod 0666 /sys/class/hwmon/hwmon0/fan0_level4
    chmod 0666 /sys/class/hwmon/hwmon0/fan0_level5
    chmod 0666 /sys/class/hwmon/hwmon0/fan1_duty
    chmod 0666 /sys/class/hwmon/hwmon0/fan1_enable
    chmod 0666 /sys/class/hwmon/hwmon0/fan1_fg
    chmod 0666 /sys/class/hwmon/hwmon0/fan1_fr
    chmod 0666 /sys/class/hwmon/hwmon0/fan1_level1
    chmod 0666 /sys/class/hwmon/hwmon0/fan1_level2
    chmod 0666 /sys/class/hwmon/hwmon0/fan1_level3
    chmod 0666 /sys/class/hwmon/hwmon0/fan1_level4
    chmod 0666 /sys/class/hwmon/hwmon0/fan1_level5
    chmod 0666 /sys/class/hwmon/hwmon0/thermal_fan
    chmod 0666 /sys/class/hwmon/hwmon0/user_enable
    chown system system /sys/class/hwmon/hwmon0/fan_level
    chown system system /sys/class/hwmon/hwmon0/fan0_duty
    chown system system /sys/class/hwmon/hwmon0/fan0_enable
    chown system system /sys/class/hwmon/hwmon0/fan0_fg
    chown system system /sys/class/hwmon/hwmon0/fan0_level1
    chown system system /sys/class/hwmon/hwmon0/fan0_level2
    chown system system /sys/class/hwmon/hwmon0/fan0_level3
    chown system system /sys/class/hwmon/hwmon0/fan0_level4
    chown system system /sys/class/hwmon/hwmon0/fan0_level5
    chown system system /sys/class/hwmon/hwmon0/fan1_duty
    chown system system /sys/class/hwmon/hwmon0/fan1_enable
    chown system system /sys/class/hwmon/hwmon0/fan1_fg
    chown system system /sys/class/hwmon/hwmon0/fan1_fr
    chown system system /sys/class/hwmon/hwmon0/fan1_level1
    chown system system /sys/class/hwmon/hwmon0/fan1_level2
    chown system system /sys/class/hwmon/hwmon0/fan1_level3
    chown system system /sys/class/hwmon/hwmon0/fan1_level4
    chown system system /sys/class/hwmon/hwmon0/fan1_level5
    chown system system /sys/class/hwmon/hwmon0/thermal_fan
    chown system system /sys/class/hwmon/hwmon0/user_enable

    chmod 0666 /sys/class/hwmon/hwmon1/camera
    chmod 0666 /sys/class/hwmon/hwmon1/display_rate
    chmod 0666 /sys/class/hwmon/hwmon1/modem_5g
    chmod 0666 /sys/class/hwmon/hwmon1/speaker
    chown system system /sys/class/hwmon/hwmon1/camera
    chown system system /sys/class/hwmon/hwmon1/display_rate
    chown system system /sys/class/hwmon/hwmon1/modem_5g
    chown system system /sys/class/hwmon/hwmon1/speaker

on post-fs-data
    # Camera
    copy /vendor/etc/camera/portrait/PS_F_N_v3_E.m.awcache /data/vendor/camera/PS_F_N_v3_E.m.awcache
    chown cameraserver audio data/vendor/camera/PS_F_N_v3_E.m.awcache

    # Goodix
    mkdir /data/vendor/goodix 0775 system system

on boot
    # Camera
    chmod 0666 /dev/dw9781c
    chown system camera /dev/dw9781c

    mkdir /mnt/vendor/persist/camera 0775 system system

    # Gesture
    chown system system /sys/devices/virtual/touch/tp_dev/gesture_on

on property:sys.boot_completed=1
    # Stop camera server
    stop vendor.camera-provider-2-7
    stop cameraserver

    # Set prop to 0 to solve the ois problem
    setprop vendor.lenovocamera.packagename.zui 0
    setprop vendor.camera.packagename.zui 0

    # Restart camera server
    start vendor.camera-provider-2-7
    start cameraserver
